section.hero{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 1rem;
    justify-content:center ;    
}
.hero-container{
    margin-left: 250px;
    width: calc(100%-250px) ;
}
.stories-container{
    background: var(--primary-varient);
    width: 100%;
    border: 1px solid silver;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: fit-content;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem auto;
    position: relative;
    overflow: hidden;

}

.story-profiles{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.6rem 0;
}

.stories-arrow{
    position: absolute;
    top: 45%;
    right: 0;
    background-color: rgba(251, 247, 247,0.3);
    font-size: 24px;
    color: white;
    cursor: pointer;

}

.story-single{
display: flex;
flex-direction: column;
padding: 0.37rem;
}
.image-wrap{
    height: 64px;
    width: 64px;
    background:var(--border);
    border-radius: 50%;
    display: flex;
    margin: 2px;
    align-items: center;
    justify-content: center;
}

.story-img{
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid white;
    height: 60px;
    width: 60px;
    margin:0.001rem;
    
}

.story-userName{
    opacity: 0.5;
    text-align: center;
}

/*-------------------- End of stories section---------------*/
.posts{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    margin: 1rem;
    background: var(--primary-varient);
}


.single-post{
    display: flex;
    flex-direction: column;
    margin: 0.8rem auto;
    padding: 1rem 0;
    background: var(--primary);
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    justify-content: center;
    width: 100%;
    border-radius: 0.8rem;
}
.user-data{
    margin-left: 1.5rem;
    display: none;
}
.post-profile{
    margin-left: 1rem;
}

.single-post .image-post{
    width: 100%;
    padding: 1rem 0;
    border: 2px 0 solid transparent;
}

.post-details{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.post-likes{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.post-icons{
    font-size: 1.5rem;
}

.post-caption p{
   margin-left: 1rem;
}


/*-----------------------------Sidebar-------------------------*/
.post-sidebar{
    width: 290px;
    margin-top: 6rem;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 1rem ;

}
.sidebar-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-title{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.sidebar-user{
    display: flex;
    margin: 1rem 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.post-sidebar h5{
    cursor: pointer;
}

.sidebar-user h5,.sidebar-profile h5{
    color: rgb(9, 179, 246);
}

@media screen and (max-width:1100px){
    .post-sidebar{
        display: none;
    }
    .hero-container{
        margin-left: 85px;
    }
}

@media screen and (max-width:600px){
    .hero-container{
        margin-bottom: 9vh;
        margin-left: 0;
        margin-top: 8vh;
    }
    .posts{
        max-width: 400px;
    }
    .image-wrap{
        height: 54px;
        width: 54px;
    }

    .story-img{
        height: 50px;
        width: 50px; 
    }
    .profile-story-single{
        margin: -0.5rem 0.5rem;
    }
    
   

}