@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,600;1,800&family=Open+Sans:wght@300;500;700&family=Poppins:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 ;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --primary:#FFFFFF;
    --primary-varient:#FAFAFA;
    --link:#7F6045;
    --active:#262626;
    --border:linear-gradient(90deg, #ff9900, #cc0099);


}
body{
    background: var(--primary-varient);
}

ul{
    list-style: none;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #262626;
}
strong{
    font-size: 0.9rem;
    opacity: 0.8;
}

.light{
    opacity: 0.7;
}
