* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 250px;
    width: 250px;
    height: 100vh;
    overflow: hidden;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: var(--primary);    box-shadow: 0 8px 32px rgb(239, 239, 248);
    border-right: 2px solid rgba(215, 207, 207, 0.09);
    transition: .4s ease-in-out;
    color: black;
}

#sidebar .logo {
    width: 100%;
    padding: 40px 0;
    display: grid;
    align-items: center;
    justify-items: center;
    color: black;
}

#sidebar .logo .logo-img {
    font-size: 36px;
    transition: .4s;
    color: black;
    display: none;
}



#sidebar .logo h3 {
    color: black;
    font-size: 32px;
    margin-top: 12px;
    font-variant: small-caps;
    pointer-events: none;

}

#sidebar nav {
    padding: 0 10px;
}

#sidebar nav .nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    margin: 8px 0;
    transition: .3s;
}

.nav-item-icon{
    font-size: 26px;
    margin-right: 20px;
}

#sidebar nav .nav-item.active {
    background: #ff328e !important;
}

#sidebar nav .nav-item:hover {
    background: rgba(255, 255, 255, .1);
}

#sidebar nav .nav-item i {
    font-size: 26px;
}

#sidebar nav .nav-item span {
    font-size: 18px;
    margin-left: 2px;
    pointer-events: none;
    font-weight: 400;
    
}

#sidebar .nav-item-icon {
    transition: .4s linear;
}

#sidebar .sidebar-end{
    position: absolute;
    bottom: 5%;
    color: black;
}



@media screen and (max-width:1264px) {
    #sidebar{
        width: 80px;
    }

    #sidebar .logo .logo-img {
        font-size: 24px;
        display: block;
        color: black;
    }
   

    #sidebar .logo h3 {
        scale: 1;
        opacity: 1;
        transition: .4s;
        transition-delay: .2s;
        display: none;
    }

    #sidebar nav .nav-item{
        align-items: center;
        justify-content: center;
    }

    #sidebar nav .nav-item .nav-item-icon{
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    #sidebar nav .nav-item span {
        display: none;
        pointer-events: visible;
        transition: .4s;
        transition-delay: .2s;

    }

    #sidebar hr {
        opacity: 1;
        transition: .4s;
    }

}

@media screen and (max-width:600px){
#sidebar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#sidebar .logo, #sidebar .sidebar-end{
    display: none;

}

#sidebar .nav-items{
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    width: 100%;
}
}